.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.bolt_inner{
  width:1100px;
  height:100%;
  margin:0 auto;
}
.header{
  background-color:#fff;
}
.header_wrap{
  position: fixed;
  top:0;
  left:0;
  z-index:1;  /*要素を一番上に持ってくる */
  overflow: hidden;
  width:100%;
  padding:15px 0;
}
.header_wrap_content{
  margin:15px 0 15px 0;
}
.header .fa-bolt {
  
  float:left;
  opacity: 0.5;
  font-size:30px;
}
.header__botton {
  background-color: #74cfae;
  color:white;
  font-size:12px;
  font-weight: bold;
  padding:14px 12px ;  
  float:right;
  cursor: pointer;
}
.nav{
  background-color: #f2f2f2;
  text-align: center;
}
.nav_wrap{
  padding:250px 0 250px 0;
}
.nav_theme_text{
  color:#74cfae;
  font-size:90px;
  font-weight:700;
}
.nav_subtheme_text{
  font-size:30px;
  color:#c0c0c0;
  margin-top:20px;
}
.main{
  background-color: #74cfae;
}
.main_wrap{
  background-color: #74cfae;
  margin:0 auto;
}
.main_wrap_inner{
  text-align: center;
  padding-top:50px;
}

.main_wrap_left{
  float:left;  
}
.main_wrap_right{
  width:780px;
  float:right;
}
.main_wrap_right-up-text {
  color:white;
  font-size:24px;
}
.main_wrap_right-down{
  padding-top:35px;
}
.main_wrap_right-down-text{
  font-size:20px;
  color:white;
  text-align: center;
  word-break: keep-all;
}
.article{
  background-color: #f2f2f2;
}
.article_wrap {
}
.article h2{
  font-size:24px;
  text-align: center;
  padding:60px 0 40px 0;
}
.article_wrap li {
  padding-left:100px;
  float:left;
}
.article_wrap li:first-child{
  padding-left:0;
}
/* 擬似要素　ntn-child(数式) */
.article_wrap li:nth-child(4){
  padding-left:0;
}
/* 要素３以下を指定したい場合は(-n+3で指定する) */
.article_wrap li:nth-child(-n+3){
  padding-bottom:80px;
}
.article_wrap li img{
  opacity: 0.7;
}
.article_wrap li :hover{
  transition:0.3s;
  opacity:1;  
}
.main__content img :nth-child(n+3){
}
.article_footer{
  padding:90px 0 70px 0;
  margin:0 auto;
}
.article_footer_wrap{
  padding-left:100px;
}
.article_footer_text{
  font-size:20px;
  float:left;
  text-align: center;
  opacity: 0.5;
  width:67%;
  
}
.article_footer_botton {
  background-color:#74cfae;
  color:white;
  font-size:12px;
  padding:14px 20px;
  font-weight: bold; 
  margin-left:90px;
}
.article_footer_botton:hover{
  background-color:#74cfae;
  color:#333;
  transition:0.3s;
  cursor : pointer;
}
.section{
  background-color: #4e4e4e;
}
.section_wrap{
  padding:70px 0 100px 0;
  text-align: center;
  /* font-size:0; */
}
.section_wrap_content li{
  display:inline-block;
}
.section_text{
  text-align: center;
  color:white;
  font-size:24px;
  padding-bottom:60px;
}
.section_wrap_content li {
  padding-left:180px;
}
.section_wrap_content li:first-child{
  padding-left:0;
}
.section_wrap_content_text{
  color:white;
  text-align: center;
  font-size:16px;
}
.figure{
  background-color:#f2f2f2;
  text-align: center;
}
.figure_icon{
  padding:200px 0;

}
.figure_icon i{
  font-size:50px;
  width:185px;
  height:100%;
  padding:20px;
  color:#74cfae;
}
.figure_icon :hover{
  background-color:white;
  transition:0.3s;
  cursor : pointer;
}
.footer{
  background-color: #74cfae;
  width:100%;
}
.footer_wrap{
  background-color:#74cfae;
  width:100%;
}
.footer_wrap_text{
  color:white;
  padding:20px 0 25px 0;
  float:right;
}
