/*  リンクタブの下線を消す */
a{
  text-decoration: none;
  display:inline-block;
}
img{
  vertical-align: middle;
}
body{
  font-family: 'Lato';
}
.is-raleway{
  font-family: 'Raleway';
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.header{
  background-color:#fff;
  position: fixed;
  top:0;
  left:0;
  z-index:1;  /*要素を一番上に持ってくる */
  overflow: hidden;
  width:100%;
}
.header_inner{
  padding:15px 0;
}
header .fa-bolt{
  float:left;
  opacity: 0.5;
  font-size:40px;
}
.header_button {
  background-color: #74cfae;
  color:white;
  font-size:12px;
  font-weight: bold;
  padding:14px 12px ;  
  float:right;
  transition: 0.3s;
}
.header_button:hover{
  color:#333;
}
.theme{
  background-color: #f2f2f2;
  text-align: center;
  width:100%;
}
.main{
  padding-top:70px;
}
.theme_inner{
  padding:250px 0;
}
.theme_text{
  color:#74cfae;
  font-size:90px;
  font-weight:700;
}
.subtheme_text{
  font-size:30px;
  color:#c0c0c0;
  margin-top:20px;
}
.about{
  background-color: #74cfae;
  width:100%;
  text-align: center;
}
.about_inner{
  padding:50px 0 0;
}
.about_wrap_right_text {
  color:white;
  font-size:24px;
}
.about_wrap_right_text {
  color:white;
  font-size:24px;
}
.works{
  background-color:#f2f2f2;
  width:100%;
}
.works_inner{
  padding:60px 0 70px;
  text-align:center;
}
.works-inner__main_title{
  font-size:24px;
  text-align:center;
}
.works-inner__images{
  box-sizing:border-box;
  margin:40px 0 90px;
  font-size: 0;
}
.works-inner__image {
  display: inline-block;
  margin-left: 100px;
}
.image-link{
  opacity:0.7;
  transition:0.3s;
}
.image-link:hover{
  opacity:1;
}
.works-inner__image:first-child,.works-inner__image:nth-of-type(4){
  margin-left:0;
}
.works-inner__image:nth-child(n+4){
  margin-top:80px;
}
.works-inner__bottom_content{
  text-align:center;
}
.works-inner__bottom_text{
  display:inline-block;
  font-size:20px;
  float:left;
  line-height: 30px;
  margin:0 90px 0;
  width:655px;
  word-break:break-all;
}
.works-inner__bottom_btn{
  background-color:#74cfae;
  float:left;
}
.works-inner__bottom_btn-text{
  color:#fff;
  display:block;
  font-size:12px;
  padding:14px 20px;
  text-decoration: none;
  transition:all .3s;
}
.works-inner__bottom_btn-text:hover {
  color:#333;
}
.skill{
  background-color: #4e4e4e;
  text-align: center;
}
.skill_inner{
  padding:70px 0 100px 0;
}
.skill_text{
  color:white;
  font-size:24px;
  margin-bottom:60px;
}
.skill_wrap_text{
  color:white;
  text-align: center;
  font-size:16px;
  margin-top:15px;
}
.sns{
  background-color:#f2f2f2;
  text-align: center;
}
.sns_inner{
  padding:200px 0;
}
.sns_icon_link {
  font-size:50px;
  width:185px;
  padding:30px 0;
  color:#74cfae;
  transition: 0.3s;
  display:inline-block; 
}
.sns_icon_link:hover{
  background-color:white;
}
.footer{
  background-color: #74cfae;
  
}
.footer_inner{
  padding:20px 0 25px 0;
}
.footer_wrap_text{
  color:white;
  text-align: right;
}
.about_wrap_right-down-text{
  font-size:20px;
  color:white;
  word-break: break-all;
  margin-top:35px;
}
@media screen and (min-width:1200px){
.bolt_inner{
  width:1100px;
  margin:0 auto;
}
.about_wrap_left{
  float:left;  
  width:40%;
}
.about_wrap_right{
  float:right;
  width:60%;
}

.skill_wrap li{
  display:inline-block;
  margin-left:180px;
}
.skill_wrap li:first-child{
  margin-left:0;
}
}
@media screen and (min-width:768px) and (max-width:1199px){
.bolt_inner{
  width:97%;
  margin:0 auto;
}
.about_inner{
  padding:50px 0 25px 0;
}
.about_wrap_left{
  float:none;
  width:100%;
  margin-bottom:20px;
}
.about_wrap_right{
  float:none;
  width:100%
}
.about_wrap_right_text {
  color:white;
  font-size:24px;
}
.about_wrap_right-down-text{
  font-size:20px;
  color:white;
  word-break: break-all;
}
.works-inner__images{
  margin:40px 0 80px;
  font-size: 0;
}
.works-inner__image{
  margin-left:0;
  display:block;
}
.works-inner__image:nth-child(n+3){
  margin-top:0;
}
.works-inner__image:nth-of-type(3n+4){
  margin-top:80px;
}
.works-inner__bottom_content{
  text-align:center;
}
.works-inner__bottom_text{
  float:none;
  display:block;
  width:100%;
  margin:0 0 40px 0;
}
.works-inner__bottom_btn{
  float:none;
  display:inline-block;
}
.works-inner__bottom_btn-text:hover {
  color:#333;
}
.skill_wrap li{
  display:block;
  margin-bottom:88px;
}
.skill_wrap li:first-child{
  margin-top:0;
}
.skill_wrap li:last-child{
  margin-bottom:0;
}
.sns_inner{
  font-size:0;
}
}
@media screen and (max-width:767px) {
.bolt_inner{
  width:97%;
  margin:0 auto;
}
.humberger {
  display:block;
  padding:10px;
  border: 1px solid #ddd;
  border-radius:4px;
  box-sizing: border-box;
  float:right;
}
.humberger div {
  display:block;
  width:24px;
  height:3px;
  background-color: #ddd;
  margin-bottom:6px;
}
.humberger div:last-child{
  margin-bottom:0;
}
.header_button{
  display:none;
}
.theme_inner{
  padding:160px 0 130px 0;
}
.theme_text{
  font-size:80px;
}
.about_inner{
  padding:50px 0 25px 0;
}
.about_wrap_left{
  margin-bottom:20px;
}
.about_wrap_right_text {
  color:white;
  font-size:24px;
}
.about_wrap_right-down-text{
  font-size:20px;
  color:white;
  word-break: break-all;
}
.works-inner__images{
  margin:40px 0 80px;
  font-size: 0;
}
.works-inner__image{
  margin-left:0;
  display:block;
}
.works-inner__image:nth-child(n+3){
  margin-top:0;
}
.works-inner__image:nth-of-type(3n+4){
  margin-top:80px;
}
.works-inner__bottom_text{
  width:100%;
  margin:0 0 40px 0;
}
.works-inner__bottom_btn{
  float:none;
  display:inline-block;
}
.skill_wrap li{
  display:block;
  margin-bottom:88px;
}
.skill_wrap li:first-child{
  margin-top:0;
}
.skill_wrap li:last-child{
  margin-bottom:0;
}
.sns_inner{
  padding:50px 0;
}
.sns_icon_link {
  text-align: center;
}
.sns_icon_link:hover{
  background-color:white;
}
}